@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {

  font-family: 'Open Sans', sans-serif;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.logo-font {
  /* font-family: 'Edu TAS Beginner', cursive;
   */
  font-family: 'Dancing Script', cursive;

}

html {
  background: rgb(79, 22, 167);
  background: linear-gradient(128deg, rgba(79, 22, 167, 1) 0%, rgba(39, 9, 77, 1) 37%, rgba(152, 48, 173, 1) 68%, rgba(79, 22, 167, 1) 100%);
}

#root {
  overflow: scroll;
  height: 100vh;
  scrollbar-width: none;

}


.chat-user-bg {
  color: white;
  background: rgb(79, 22, 167);
  background: linear-gradient(128deg, rgb(56, 14, 110) 0%, rgb(129, 60, 231)100%);
}

.border-medium {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.chat-grid {
  grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 770px) {
  .chat-grid {
    grid-template-columns: 1fr;
  }
}


.chat-info-bg {
  min-height: 100vh;
  height: 100%;
  box-shadow: -2px 0px 4px rgba(255, 254, 254, 0.3) inset;
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
}

.message-container-h {

  height: calc(100vh - 100px);
}