@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: antiquewhite;
}

html {
  background: url("/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#root {
  overflow: scroll;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root::-webkit-scrollbar {
  display: none;
}