@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: antiquewhite;
  font-family: 'Open Sans', sans-serif;
}

.logo-font {
  font-family: 'Edu TAS Beginner', cursive;
}

html {
  background: url("/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#root {
  overflow: scroll;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root::-webkit-scrollbar {
  display: none;
}

.border-medium {
  border: 0;
}